body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.calculator{
    background-color: beige;
    border: 2px solid rgb(107, 107, 107);
    padding: 10px;
}

/* buttons */
.btn{
    height: 65px;
    width: 65px;
    margin: 10px;
    font-size: 30px;
}
.number{
    border: 1px solid black;
    transition: 0.2s;
    
    
}
.operator{
    border: 1px solid black;
    transition: 0.2s;
}
.equal{
    border: 1px solid black;
    transition: 0.2s;
}
.decimal{
    border: 1px solid black;
    transition: 0.2s;
} 
.clear{
    border: 1px solid black;
    transition: 0.2s;
}
.btn:hover{
    background-color: rgb(218, 218, 218);
    border: 1px solid black;
    padding: 15px;
    box-shadow: 2px -3px 3px rgba(0, 0, 0, 0.404);
    
    
}

/* Screnn */
#first{
    display: flex; 
    justify-content: center;
    align-items: center; 

}
#screen{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(207, 205, 170);
    height: 72px;
    width: 248px;
    margin: 10px;
    font-size: 20px;
    border: 1px solid black;
}
.current{
font-size: 30px;

}
.previous{
font-size: 20px;
}